.apt_table_container
{
    background: white;
}

th {
    border:1px solid black;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 0;
 }

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 0;
    background-color: white;
 }

th {
    padding: 0 20px;
 }

 tr:hover {
    background-color: red;

}
/**
{
    background-color: bisque;
}*/
center{
    background-color: white;
}
h2{
    background-color: #4CAF50;
}