.left {
  background-color: lightcoral;

}
.right {
  background-color:pink ;
}

.services
{
    position:relative;
    text-align: left;
    position: relative;
    top:-460px;
    left: 920px;
    color: black;
    text-align: justify;
    font-size: 25px;

}